$orange:#F59779;
$gray:#626173;
$light-blue:#E3EEFF;
$dark-orange:#EE6A40;
$gradient-blue-to-orange: linear-gradient(180deg, #4E70A4 4.12%, rgba(255, 148, 124, 0.66) 147.78%);
$fire: linear-gradient(180deg, #FFB978 0%, #EE6A40 100%);
$background: linear-gradient(85.52deg, rgba(255, 255, 255, 0.87) -52.67%, rgba(207, 224, 251, 0.4) 104.07%);
$disable: #C7C7C7;
$brand:  rgba(56, 68, 98, 1);
$neutral:#F8FBFF;
$blue:  #759DD9;