@use "variables" as variables;

.post-card {
  padding-left: 25px !important;
  padding-right: 25px !important;
  margin-bottom: 50px;
}

#all-posts-container {
  margin-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

.post-card-title {
  font-family: Nunito;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
